@charset "UTF-8";

*{ margin: 0; padding: 0; border: none; }
ul,li,ol{ list-style: none;}

header{
    font-size: 12px;
    h1{
        font-size: 13px;
        &::after{
            content: '';
        }
    }
    ul{ list-style: circle;}

}